body {
  margin: 0;
  overflow-x: hidden;
}

.dashboard-container {
  display: grid;
  grid-template-columns: 15% auto 20%; /* Se puede cambiar a fracciones si es necesario */
  grid-template-rows: auto;
  height: 100%; /* Cambiado a 100vh para asegurar que ocupa toda la pantalla */
  width: 100vw;
}

.navbar {
  grid-row: 1; /* Modificado para ocupar solo la primera fila */
  grid-column: 1 / 2;
  height: auto;
  border-radius: 5px;

}

.main {
  grid-row: 1 / 3;
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  background-color: #eef2ff;
  border-radius: 5px;
  overflow-x: none; /* Permite scroll horizontal */
  padding: 10px;
  
}


.aside {
  grid-row: 1 / span 3;
  grid-column: 3 / 4; /* Corregido para que ocupe la tercera columna */
  font-size: 12px;
  border-radius: 5px;
  width: 100%;
  border-radius: 5px;
  

  
}
